<div class="top-header">
    <div class="header-left">
        <i class="fa-solid fa-bars"></i>
        <span class="text-muted">Trang chủ   {{'' if page == 'Trang chủ' else '> '+page}}</span>
    </div>
    
    <div class="header-right">
        <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search for something">
        </div>
        <button class="icon-btn">
            <i class="bi bi-gear"></i>
        </button>
        <button class="icon-btn">
            <i class="bi bi-bell"></i>
        </button>
        <div class="profile-pic">
            <img src="img/BINH4312aeyou.jpg" alt="">
        </div>
    </div>
</div>