<div class="sidebar">
        <div class="logo">
            <span>SUA XE 3TL</span>
        </div>
            <a href="/" class="nav-item {{'active' if page == 'home' else ''}}">
                <i class="bi bi-house-door-fill"></i>
                <span>Trang chủ</span>
            </a>
            <a href="/components" class="nav-item {{'active' if page == 'components' else ''}}">
                <i class="bi bi-arrow-left-right"></i>
                <span>Linh kiện</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-graph-up"></i>
                <span>Báo Cáo</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-credit-card"></i>
                    <span>Thanh Toán</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-cash-coin"></i>
                <span>Loans</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-grid-3x3-gap"></i>
                <span>Services</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-gem"></i>
                <span>My Privileges</span>
            </a>

            <a href="#" class="nav-item">
                <i class="bi bi-gear"></i>
                <span>Quản Trị</span>
            </a>
            <a href="#" class="nav-item">
                <i class="bi bi-person-circle"></i>
                <span>Tài Khoản</span>
            </a>

    </div>